<!DOCTYPE HTML>

<html ng-app='app'>

<head>
	<title>Your Resource For Hawaii Real Estate</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.css">
	<link rel="stylesheet" href="assets/css/main.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>

<body class="landing">

<slider-menu></slider-menu>
	<div id="page-wrapper">

<nav-bar></nav-bar>

		<!-- <header id="header" class="alt black">
		  <div>
		    <h1 style='margin: 1px 0 0 0;'><img style='vertical-align: middle; display: inline-block; width: 100px;' src='./img/logo.png' /> &nbsp; &nbsp; Contact: &nbsp; (808) 224-0663</h1>
		  </div>
		  <nav id="nav">
		    <ul>
		      <li><a ui-sref='home'>Home</a></li>
		      <li><a href="https://www.certifiedps.com/hawaii-property-management-services/">Property Management</a></li>
		      <li uib-dropdown dropdown-append-to-body ><a class="icon fa-angle-down" uib-dropdown-toggle>About</a>
		        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
		          <li role="menuitem"><a ui-sref='contact'>Contact Agora Hawaii</a></li>
		          <li class="divider"></li>
		          <li role="menuitem"><a href="paul.html">Paul Sebastian</a></li>
		        </ul>

		      </li>
		      <li><a href="index.html">Resources</a></li>
		      <li><a href="#" class="button">Search Listings</a></li>
		    </ul>
		  </nav>
		</header> -->

		<ui-view></ui-view>

		<section id="cta" style='display: flex; flex-direction: row; justify-content: space-around;'>
			<div>
				<h2>Contact our team</h2>

				<form action="https://formspree.io/your@email.com" method="POST">
					Name: <input type="text" name="name"> Email: <input type="email" name="_replyto"> Message: <input type="text" name="message">
					<input style='margin: 15px 0 0 0; color: black;' type="submit" value="Send">
				</form>
			</div>
			<div>
				<p style='font-weight: 600'>LOCATION & CONTACT INFO</p>
				<p>
					<span style='font-weight: 500'>Mailing Address:</span>&nbsp; Agora Hawaii 1253 S Beretania St #2400 Honolulu, HI 96814
				</p>
				<p>
				<span style='font-weight: 500'>Phone:</span>&nbsp; (808) 799-2834
				</p>
				<p>
				<span style='font-weight: 500'>Email:</span>&nbsp; pauls@agorahawaii.com
				</p>
				<p>
				<span style='font-weight: 500'>Office Hours:</span>&nbsp; Monday through Sunday 9AM to 6P	</p>
				<p>
					<span style='font-weight: 500'>Office License Number:</span>&nbsp; RB 21552
				</p>
			</div>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
				<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
				<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; 2013 - 2017 Agora Hawaii</li>
			</ul>
		</footer>

		<div ng-controller="AppCtrl" layout="column" style="height:500px;" ng-cloak="" class="sidenavdemoBasicUsage" ng-app="MyApp">

		  <section layout="row" flex="">

		    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">

		      <md-toolbar class="md-theme-indigo">
		        <h1 class="md-toolbar-tools">Sidenav Left</h1>
		      </md-toolbar>
		      <md-content layout-padding="" ng-controller="LeftCtrl">
		        <md-button ng-click="close()" class="md-primary" hide-gt-md="">
		          Close Sidenav Left
		        </md-button>
		        <p hide="" show-gt-md="">
		          This sidenav is locked open on your device. To go back to the default behavior,
		          narrow your display.
		        </p>
		      </md-content>

		    </md-sidenav>

		    <md-content flex="" layout-padding="">

		      <div layout="column" layout-align="top center">
		        <p>
		        The left sidenav will 'lock open' on a medium (=960px wide) device.
		        </p>
		        <p>
		        The right sidenav will focus on a specific child element.
		        </p>

		        <div>
		          <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md="">
		            Toggle left
		          </md-button>
		        </div>

		        <div>
		          <md-button ng-click="toggleRight()" ng-hide="isOpenRight()" class="md-primary">
		            Toggle right
		          </md-button>
		        </div>
		      </div>

		      <div flex=""></div>

		    </md-content>

		    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

		      <md-toolbar class="md-theme-light">
		        <h1 class="md-toolbar-tools">Sidenav Right</h1>
		      </md-toolbar>
		      <md-content ng-controller="RightCtrl" layout-padding="">
		        <form>
		          <md-input-container>
		            <label for="testInput">Test input</label>
		            <input type="text" id="testInput" ng-model="data" md-autofocus="">
		          </md-input-container>
		        </form>
		        <md-button ng-click="close()" class="md-primary">
		          Close Sidenav Right
		        </md-button>
		      </md-content>

		    </md-sidenav>

		  </section>

		</div>

		<!--
		Copyright 2016 Google Inc. All Rights Reserved.
		Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
		-->

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.dropotron.min.js"></script>
	<!-- <script src="assets/js/jquery.scrollgress.min.js"></script> -->
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="assets/js/main.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-animate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-touch.js"></script>
	<script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.0/ui-bootstrap-tpls.js"></script>

	<script src='node_modules/angular-pageslide-directive/dist/angular-pageslide-directive.js'></script>
	<script src="js/app.js"></script>
	<script src="js/directive.js"></script>
	<script src="js/NavCtrl.js"></script>
	<script src="js/MainCtrl.js"></script>
	<script src="js/AppCtrl.js"></script>


</body>

</html>
