<main>
<!-- Banner -->
<nav-bar></nav-bar>

<section id="banner">
  <h2>Agora Hawaii</h2>
  <p>YOUR REAL ESTATE EXPERT</p>
  <ul class="actions">
    <li><a ui-sref='buyers' style='color: #FFED61;' class="button">Buyers</a></li>
    <li><a ui-sref='sellers' style='color: #FFED61' class="button">Sellers</a></li>
  </ul>
</section>

<!-- Main -->
<section id="main" class="container">

  <section class="box special">
    <header class="major">
      <p style='border: none; padding-top: 0; margin-top: 0; '>We are seriously devoted and dedicated on making sure that our clients receive the best real
estate service whose best interests always comes first. With over 10 years of combined real estate experience,
our team of agents has participated in a broad spectrum of transactions that varies from high end residential
property leases and sales or to the more sophisticated income property transactions.
        <br />
        <br /> A home is not just a residence, but also an expression of the homeowner’s vision and lifestyle. We also
understand that buying or selling a home is more than just a transaction; it’s a life changing experience. We
always go beyond the scope of our service, guiding our clients through every step of their real estate
transactions </p>
<h3> - The Agora Way</h3>
    </header>
    <span class="image featured"><img src="img/Waikiki.png" alt="" /></span>
  </section>

  <div class="row">
    <div class="6u 12u(narrower)">

      <section class="box special">
        <span style='background: url(images/pic02.jpg); height: 190px; display: flex; align-items: center; justify-content: center;' class="image featured"><h1 style='color: white; font-size: 40px; font-weight: 400;'>FIND MY DREAM HOME</h1></span>
        <p>Hawaii is an exotic place to live, full of wonderful people, and beautiful scenery. Whether you are planning to move to Hawaii permanently, currently live on Oahu, retired, or just looking for a vacation home, we know that you are looking for the
          perfect property at a fair and reasonable price.</p>
      </section>

    </div>
    <div class="6u 12u(narrower)">

      <section class="box special">
        <span style='background: url(images/pic03.jpg); height: 190px; display: flex; align-items: center; justify-content: center;' class="image featured"><h1 style='color: white; font-size: 40px; font-weight: 400;'>WHAT’S MY HOME WORTH?</h1></span>
        <p style='margin: 30px 0;'>Do you have questions about selling your home?</br>
          </br> Has your home been listed for sale but you haven’t gotten a reasonable offer?</p>
      </section>

    </div>
  </div>

</section>
</main>
