<main>
<!-- Banner -->
<nav-bar></nav-bar>

<section id="banner">
  <h2>Agora Hawaii</h2>
  <p>Your resource for Hawaii real estate</p>
  <ul class="actions">
    <li><a ui-sref='buyers' style='color: #FFED61;' class="button">Buyers</a></li>
    <li><a ui-sref='sellers' style='color: #FFED61' class="button">Sellers</a></li>
  </ul>
</section>

<!-- Main -->
<section id="main" class="container">

  <section class="box special">
    <header class="major">
      <h2>The Agora Way</h2>
      <p>At Agora Hawaii, we focus on Bringing People Together by being personable, hard working, and honest. This helps us connect both buyers and sellers in the Hawaii Real Estate market as well as developing long term relationships with our customers.
        <br />
        <br /> Finding the right home or attracting qualified buyers is an easy process when working with Agora Hawaii and our team of expert real estate agents. We simplify the sales process by giving you the information, tools, as well as professional
        recommendations to help you achieve your goals. </p>
    </header>
    <span class="image featured"><img src="img/Waikiki.png" alt="" /></span>
  </section>

  <div class="row">
    <div class="6u 12u(narrower)">

      <section class="box special">
        <span class="image featured"><img src="images/pic02.jpg" alt="" /></span>
        <h3>Own a piece of Paradise</h3>
        <p>Hawaii is an exotic place to live, full of wonderful people, and beautiful scenery. Whether you are planning to move to Hawaii permanently, currently live on Oahu, retired, or just looking for a vacation home, we know that you are looking for the
          perfect property at a fair and reasonable price.</p>
        <ul class="actions">
          <li><a href="#" class="button alt">Contact Us</a></li>
        </ul>
      </section>

    </div>
    <div class="6u 12u(narrower)">

      <section class="box special">
        <span class="image featured"><img src="images/pic03.jpg" alt="" /></span>
        <h3>Sell your property in Hawaii</h3>
        <p style='margin: 30px 0;'>Do you have questions about selling your home?</br>
          </br> Has your home been listed for sale but you haven’t gotten a reasonable offer?</p>
        <ul class="actions">
          <li><a href="#" class="button alt">Contact Our Team</a></li>
        </ul>
      </section>

    </div>
  </div>

</section>
</main>
