<div>
  <nav-bar-black></nav-bar-black>
  <section style='margin-top: 40px;' class="container">
        <section class="box special features">
      <header>
          <h2>PAUL SEBASTIAN</h2>
          <p>I’m here to help make things happen for you</p>
      </header>
      <div class='paul-container'>
        <span class="image left"><img style='height: 250px;' src="img/paul.jpeg" alt="" /></span>
        <ul class='paul-info'>
          <li>Paul Sebastian (RA)</li>
          <li>Vice President of Sales</li>
          <li>Agora Hawaii</li>
          <li>Cell: (808) 799-2834</li>
          <li>PaulS@AgoraHawaii.com</li>
        </ul>
      </div>
          <div class="features-row">
              <section>
                  <i class="icon major fa-tree accent3"></i>
                  <h3>MY BACKGROUND IN HAWAII</h3>
                  <p>I was born and raised in Honolulu which allows me to understand the local real estate market, its trends, neighborhoods, and Hawaii’s diverse culture. My experience from living on the Island of Oahu allows me to help buyer find homes in areas that meet their needs and assist sellers in choosing the correct asking price to get the most from their property.</p>
              </section>
              <section>
                  <i class="icon major fa-money accent2"></i>
                  <h3>EXPERIENCE IN SALES</h3>
                  <p>For the past 15 years, I have been helping identify what my clients really want and help show them how to find what they are looking for.  People always consider me to be the go-to person because I get the best deal possible and will stay with you until the very end. I don’t leave my clients feeling stuck in between the process.</p>
                  <p>
                    I love hearing from my clients about how happy they were throughout the process and the decision of choosing me they made. There is nothing more rewarding than having my clients trust me in what is considered to be one of the largest investments they will ever make.
                  </p>
              </section>
          </div>
          <div class="features-row">
              <section>
                  <span class="icon major fa-cutlery accent5"></span>
                  <h3>PAUL'S INTEREST & HOBBIES</h3>
                  <p>When not at the office, you will usually find me spending time with friends and family, at the beach, relaxing at Starbucks or hiking. I am also a foodie. I love trying new restaurants and expanding my pallet by trying different cuisines.</p>
              </section>
              <section>
                  <span class="icon major fa-handshake-o accent4"></span>
                  <h3>MY COMMITMENT TO YOU IS…</h3>
                  <ul>
                    <li>Being able to fulfill your needs and help discover what you really want</li>
                    <li>Guide you through the sales process while negotiating the best deal for you</li>
                    <li>Constant communication keeping you up to date each step of the way</li>
                    <li>Your go to person and to make sure things happen for you</li>
                    <li>Sticking by your side until the end</li>
                  </ul>
              </section>
          </div>

      </section>

    </section>
</div>
