<div>
  <nav-bar-black></nav-bar-black>
  <section style='margin-top: 40px;' class="container">
        <section class="box special features">
      <header>
          <h2>PAUL SEBASTIAN (RA)</h2>
          <p>Beyond the sale, dedicated to results.</p>
      </header>
      <div class='paul-container'>
        <span class="image left"><img style='height: 250px;' src="img/paul.jpeg" alt="" /></span>
        <ul class='paul-info'>
          <li>Vice President of Sales</li>
          <li>Agora Hawaii</li>
          <li>(808) 799-2834</li>
          <li>Pauls@agorahawaii.com</li>
        </ul>
      </div>
          <div class="features-row">
              <section>
                  <i class="icon major fa-tree accent3"></i>
                  <h3>MY BACKGROUND IN HAWAII</h3>
                  <p>I was born and raised in Honolulu which allows me
                    to understand the local real estate market, its trends,
                    neighborhood, and Hawaii’s diverse culture.</br> I love
                    this area and once I show you around, I’m
                    convinced you will love it too and want to plant
                    roots of your own. </p>
              </section>
              <section>
                  <i class="icon major fa-money accent2"></i>
                  <h3>EXPERIENCE IN SALES</h3>
                  <p>I have this passion for real estate business and have
                    been full-time in sales for 15 years now. I have the
                    experience and local know-how to help you make
                    the best possible decisions in the real estate market. </p>
                  <p>
                    Known by clients and colleagues for my
                    perseverance, honesty, fairness and tenacity. I also
                    have the reputation for timely and quick response to
                    each clients needs and concern. My telephone is
                    always at hand and the result to that professionalism
                    is my extensive portfolio of referrals from past and
                    present clients. </p>
              </section>
          </div>
          <div class="features-row">
              <section>
                  <span class="icon major fa-cutlery accent5"></span>
                  <h3>PAUL'S INTEREST & HOBBIES</h3>
                  <p>Passionate to my craft, on my free time I see to it that I stay ahead of the
                      game when it comes to market education and trends. Whether rooting on
                      my favourite team, playing golf, lounging on the beach or go for a hike.</br>
                      I’m an avid explorer of the city and the world, I love to try new
                      restaurants, expanding my pallet with different cuisines and checking out
                      local music and neighborhood festivals. I surely know the definition of
                      fun. </p>
              </section>
              <section>
                  <span class="icon major fa-handshake-o accent4"></span>
                  <h3>MY COMMITMENT TO YOU IS…</h3>
                  <ul>
                    <li>I am bound by my commitment to always serve my clients and
                      customers, putting their needs above all else. </li>
                    <li>Accompany and advise buyers/sellers during visits and
                      inspections to ensure satisfaction with value and condition of
                      property</li>
                    <li>To offer a level of thoroughness, attention to details and preparedness at
                      every step</li>
                    <li>Dedicated to making sure our clients receive more than a white glove
                      concierge service whose best interests always comes firstu</li>
                  </ul>
              </section>
          </div>

      </section>

    </section>
</div>
