<div>
    <nav-bar-black></nav-bar-black>
    <div style='height: 60px;'></div>
    <div class="container">

        <section class='box'>
            <span class="image fit"><img src="img/resource.jpg" alt="" /></span>
            <h2>HELPFUL INFORMATION</h2>
            <ul style='list-style: none; font-size: 18px;'>
                <li>(808) 532-7700 &nbsp; &nbsp; DMV</li>
                <li>(808) 527-5091 &nbsp; &nbsp; Environmental Hotline</li>
                <li>(808) 527-5541 &nbsp; &nbsp; Property Assessment</li>
                <li>(808) 692-5410 &nbsp; &nbsp; Recycling Center</li>
                <li>(808) 973-4380 &nbsp; &nbsp; Weather Information</li>
            </ul>
        </section>

        <section class='box'>
            <h3>Utility Companies</h3>
            <div class="table-wrapper">
                <table style='font-size: 16px;'>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Website</th>
                            <th>Phone Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Electric: HECO</td>
                            <td><a href='www.heco.com'>www.heco.com</a></td>
                            <td>(808) 548-7311</td>
                        </tr>
                        <tr>
                            <td>Water: Board of Water Supply</td>
                            <td><a href='www.hbws.org'>www.hbws.org</a></td>
                            <td>(808) 748-5000</td>
                        </tr>
                        <tr>
                            <td>Gas: Hawaii Gas</td>
                            <td><a href='www.hawaiigas.com'>www.hawaiigas.com</a></td>
                            <td>(808) 535-5933</td>
                        </tr>
                        <tr>
                            <td>Oceanic Time Warner Cable</td>
                            <td><a href='www.oceanic.com'>www.oceanic.com</a></td>
                            <td>(808) 625-8100/td>
                        </tr>
                        <tr>
                            <td>Phone: Hawaiian Telcom</td>
                            <td><a href='www.hawaiiantel.com'>www.hawaiiantel.com</a></td>
                            <td>(808) 546-4511/td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

    </div>
</div>
