<section id='page-wrapper'>
    <nav-bar-black></nav-bar-black>
    <section id="main" class="container">
        <div class='disappear'>
        </div>

        <!-- <div class='box'> -->

        <!-- </div> -->

      </br>
        <section class="box special features">
          <span class="image featured"><img src="img/sellers-banner.jpg" alt="" /></span>
          <h3>WE AT AGORA HAWAII WILL MAKE IT HAPPEN.</h3>
            <div class="features-row">
                <section>
                    <i class="icon major fa-money accent3"></i>
                    <p>The appearance of your home, a buyer’s first impression, and other considerations can affect the sale of your home.</br>
                      We will provide you with the latest home prices in the neighborhood to help you determine the best value of your property.</p>
                </section>
                <section>
                    <i class="icon major fa-camera-retro accent2"></i>
                    <p>We will give you tips and aide you in making the property more appealing to theprospective buyers.</br>
                      Effective marketing will help ensure that your home is sold in a timely manner at the best price.</p>
                </section>
            </div>
            <div class="features-row">
                <section>
                    <span class="icon major fa-key accent5"></span>
                    <p>Rest assured that we will work with you throughout the entire sales process.</br>
                      From the moment that you’ve decided to sell your property, furnishing all parties involved with a
                      settlement statement, which summarizes and details the financial transactions enacted in the
                      process until the new owner of your property gets the keys to their home. </p>
                </section>
            </div>
        </section>

    </section>
</section>
