<section id='page-wrapper'>
    <nav-bar-black></nav-bar-black>
    <section id="main" class="container">
        <div class='disappear'>
        </div>

        <!-- <div class='box'> -->

        <!-- </div> -->

      </br>
        <section class="box special features">
          <span class="image featured"><img src="img/sellers-banner.jpg" alt="" /></span>
          <h3>AS YOUR TRUSTED ADVISER, AGORA HAWAII WILL:</h3>
            <div class="features-row">
                <section>
                    <i class="icon major fa-money accent3"></i>
                    <p>Provide you with recent sales in your area to help you determine the best price for selling your home in Hawaii.</p>
                </section>
                <section>
                    <i class="icon major fa-camera-retro accent2"></i>
                    <p>Give you tips and tricks to help make the property more appealing to prospective buyers to get you the best deal possible.</p>
                </section>
            </div>
            <div class="features-row">
                <section>
                    <span class="icon major fa-key accent5"></span>
                    <p>Work with you throughout the entire sales process from the time you start your search until you get the keys to your new home.</p>
                </section>
            </div>
        </section>

    </section>
</section>
