<section id="page-wrapper">

    <nav-bar-black></nav-bar-black>

    <section id="main" class="container">
        <div class='disappear'>
        </div>
        <header>
            <h2>The Right Real Estate Agent</h2>
            <p>Deciding who to represent you is one of the most important decisions</br> you will make when buying a home in Hawaii.</p>
        </header>
        <div class="box">
            <span class="image featured"><img src="img/home-buyer2.jpg" alt="" ></span>
            <div style='text-align:center;'>
                <i class="icon major accent5 fa fa-university" aria-hidden="true"></i>
                <h3>SERVE AS YOUR TRUSTED ADVISOR:</h3>
            </div>
            <ul>
                <li>Discuss financing options available to you.</li>
                <li>Help you to pre-qualify for a loan. Not only will this allow me to search for homes within a price range that will keep your payments at a comfortable level, it will also allow us to move quickly when I help find a home on Oahu that will
                    meet your needs.</li>
                <li>Identify your Housing and Community Needs.</li>
                <li>Determine your wants and desires for a home located on Oahu.</li>
                <li>Help you find a home with the amenities and area you are looking for whether it’s in Honolulu or anywhere else on the Island.</li>
            </ul>
            <hr>
            <div style='text-align:center;'>
                <i class="icon major accent2 fa fa-home" aria-hidden="true"></i>
                <h3>ACT AS YOUR PROPERTY SPECIALIST:</h3>
            </div>
            <ul>
                <li>Help prioritize your housing needs and find homes that meet your specifications and within your budget.</li>
                <li>Eliminate unsuitable properties, and adjust your search criteria accordingly.</li>
                <li>Give you access to preview properties using my website and sending you email updates for properties in Hawaii that meet your needs.</li>
                <li>Take you on private tours of potential homes within your criteria and help evaluate them to see if they fit your needs.</li>
            </ul>
            <div style='width:100%; text-align: center;' class="3u 6u(narrower) 12u$(mobilep)">
                <ul class="actions vertical">
                    <li><a style='width: 300px;' href="#" class="button special">Contact Agora Hawaii Today</a></li>
                </ul>
            </div>
        </div>

        <div class='box'>
            <span class="image featured"><img src="img/hawaiisunset.jpg" alt="" /></span>
            <div style='text-align:center;'>
                <i class="icon major accent1 fa fa-thumbs-o-up " aria-hidden="true"></i>
                <h3>GET PRE-APPROVED</h3>
                <p>
                    When considering an offer, the seller will want to know how you plan on financing your purchase. Most buyers in Hawaii will obtain a loan in order to assist them with buying a home. By getting a pre-approval letter from your lender, it will instill confidence
                    with the seller by reassuring them that you already qualify for a loan and are ready to buy.
                </p>
            </div>
            <hr />

            <div style='text-align:center;'>
                <i class="icon major accent3 fa fa-eye" aria-hidden="true"></i>
                <h3>KNOW WHAT YOU WANT</h3>
                <p>
                    Purchasing a home can be challenging. Whether your buying something for you and your family or your an investor, there are a lot of different variables to consider which will ultimately impact your decision. This is where I come in. As your real estate
                    agent, I will help find a property on Oahu that is right for you. One of the first steps is to go over your wants and needs. This will help us both determine what criteria we need to look for when screening potential homes for you.
                    </p>
            </div>
            <hr />
            <div style='text-align:center;'>
                <i class="icon major accent4 fa fa-book" aria-hidden="true"></i>
                <h3>BE PREPARED</h3>
                <p>
                    Your Hawaii dream home is waiting for you; we just need to find it. The real estate market changes on a daily basis. With homes coming and going, real estate on Oahu moves very quickly. To give us an advantage, I will update you regularly with homes that
                    meet your criteria. When you find something that you like, we will need to work together to view the home and determine if it's right for you and your family. This could take anywhere from a few days to a couple weeks depending on
                    what is currently available on the market. It's important to be ready to submit an offer right away once you find a home that you like. This will give us an edge as the sooner I can get an offer to the seller's agent, the more likely
                    we are to get it approved.
                </p>
            </div>
        </div>

    </section>

</section>
