.contact_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid red;
}

.form_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  border: 1px solid white;
}

.paul-container {
  width: 400px;
	display: flex;
	justify-content: space-between;
  margin: auto;
  margin-bottom: 30px;
  /*border: 1px solid black;*/
}

	@media screen and (max-width: 480px) {
		.paul-container {
      width: 0;
			display: flex;
			flex-direction: column;;
			justify-content: center;
			align-items: center;
		}
	}

@media screen and (max-width: 720px){
  .contact_container {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .form_container {
    flex-direction: column;
  }
}

.paul-info {
	list-style: none;
	font-size: 20px;
	line-height: 50px;
  padding: 0;
}

.paul-info li {
  padding: 0;
}
