<header id="header" class="alt">
  <div>
    <h1 style='margin: 1px 0 0 0;'><img style='vertical-align: middle; display: inline-block; width: 100px;' src='./img/logo.png' /> &nbsp; &nbsp; Contact: &nbsp; (808) 224-0663</h1>
  </div>
  <nav id="nav">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="https://www.certifiedps.com/hawaii-property-management-services/">Property Management</a></li>
      <li><a href="#" class="icon fa-angle-down">About</a>
        <ul>
          <li><a href="generic.html">Contact Agora Hawaii</a></li>
          <li><a href="contact.html">Paul Sebastian</a></li>
        </ul>

      </li>
      <li><a href="index.html">Resources</a></li>
      <li><a href="#" class="button">Search Listings</a></li>
    </ul>
  </nav>
</header>
