<header id="header" class="alt black">
  <div>
    <h1 style='margin: 1px 0 0 0;'><img style='vertical-align: middle; display: inline-block; width: 100px;' src='./img/logo.png' /> &nbsp; &nbsp; Contact: &nbsp; (808) 224-0663</h1>
  </div>
  <nav id="nav">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="https://www.certifiedps.com/hawaii-property-management-services/">Property Management</a></li>
      <li uib-dropdown dropdown-append-to-body ><a class="icon fa-angle-down" uib-dropdown-toggle>About</a>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-to-body">
          <li role="menuitem"><a href="contact.html">Contact Agora Hawaii</a></li>
          <li class="divider"></li>
          <li role="menuitem"><a href="paul.html">Paul Sebastian</a></li>
        </ul>

      </li>
      <li><a href="index.html">Resources</a></li>
      <li><a href="#" class="button">Search Listings</a></li>
    </ul>
  </nav>
</header>
