<pageslide  id='slide-menu' ps-push='true' ps-side='left' ps-open='checked'>
    <nav id='slide-nav'>
      <ul class='slide-list'>
        <li><a ui-sref='home'>Home</a></li>
        <li><a href="https://www.certifiedps.com/hawaii-property-management-services/">Property Management</a></li>
            <li role="menuitem"><a ui-sref='contact'>Contact Agora Hawaii</a></li>
            <li role="menuitem"><a href="paul.html">Paul Sebastian</a></li>
        <li><a href="index.html">Resources</a></li>
        <li><a href="#">Search Listings</a></li>
      </ul>
    </nav>
</pageslide>
